<a href="https://colab.research.google.com/github/archelsea/pandas/blob/main/01.Dataframe%26Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DataFrame

In [1]:
import pandas as pd

In [2]:
name = ['Braund','Allen','Bonnell']
age = [22,35,58]
sex = ['male','male','female']

data = {'Name':name, 'Age':age,'Sex':sex}

df = pd.DataFrame(data)

In [3]:
df

      Name  Age     Sex
0   Braund   22    male
1    Allen   35    male
2  Bonnell   58  female

# Series

In [4]:
df['Name']

0     Braund
1      Allen
2    Bonnell
Name: Name, dtype: object

In [6]:
print(type(df))
print(type(df['Name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [7]:
ages = pd.Series([22,35,58], name='Age')
ages

0    22
1    35
2    58
Name: Age, dtype: int64

# Simple calculation

In [8]:
df['Age'].max()

58

In [9]:
ages.max()

58

In [10]:
#데이터프레임 기술통계량 보기
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000